VITE_SITE_URL=https://jstercerizados.com.br
VITE_WHATSAPP_NUMBER=5511968380592
VITE_CONTACT_EMAIL=contato@jstercerizados.com.br
VITE_CONTACT_PHONE=(11) 96838-0592
VITE_COMPANY_NAME=JSEmpregos
VITE_GOOGLE_ANALYTICS_ID=
VITE_META_SITE_VERIFICATION=
VITE_N8N_WEBHOOK_URL=